.email-preview {
  max-height: calc(100% - 192px);
}

.email-list {
  max-height: calc(100% - 188px);
}

.email-list::-webkit-scrollbar {
  width:10px;
  background: transparent;
}

.email-list::-webkit-scrollbar-thumb {
  background: rgb(228 228 231);
  border-radius: 9999px;
  border: 2px solid rgb(24 24 27);
}

:root {
  --logo-rotation: 135deg;
  --logo-vertical-offset: -30px;
}

@keyframes back-and-forth {
  0%, 100% {
    transform: translateX(0%) translateY(var(--logo-vertical-offset)) rotate(var(--logo-rotation));
  }
  25%, 75% {
    transform: translateX(-100%) translateY(var(--logo-vertical-offset)) rotate(var(--logo-rotation));
  }
  50% {
    transform: translateX(100%) translateY(var(--logo-vertical-offset)) rotate(var(--logo-rotation));
  }
}

.shuttle-logo {
  transform: translateY(var(--logo-vertical-offset)) rotate(var(--logo-rotation));
}

.shuttle-logo-animation {
  animation: back-and-forth 1.25s ease-in-out forwards;
}